{extend name="public/base" /}

{block name="main"}
<div class="container-fluid" menu="auth-index">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>授权列表</h4>
                </div>
                <div class="card-body">
                    <div class="card-toolbar clearfix p-l-0 p-r-0 p-t-0">
                        <form class="pull-right so-form form-inline" onsubmit="return false;">
                            <div class="form-group" id="app-list">
                                <select class="form-control">
                                    <option value="">选择应用</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" id="soAuthId" placeholder="授权码">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" id="soAuthContent" placeholder="授权关键">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" id="soQq" placeholder="QQ">
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="soStatus">
                                    <option value="">选择状态</option>
                                    <option value="1">正常</option>
                                    <option value="0">封禁</option>
                                    <option value="2">过期</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default" data-event="tableReload">搜索</button>
                                <button type="reset" class="btn btn-default">重置</button>
                            </div>
                        </form>
                        <div class="so-form">
                            <a class="btn btn-primary m-r-5" data-event="create">
                                <i class="mdi mdi-plus"></i> 新增
                            </a>
                            <a class="btn btn-success m-r-5" data-event="authStart">
                                <i class="mdi mdi-check"></i> 启用
                            </a>
                            <a class="btn btn-warning m-r-5" data-event="authStop">
                                <i class="mdi mdi-block-helper"></i> 禁用
                            </a>
                            <a class="btn btn-danger m-r-5" data-event="authDelete">
                                <i class="mdi mdi-window-close"></i> 删除
                            </a>
                        </div>
                    </div>
                    <div class="table-responsive" id="app-body">
                    </div>
                    <ul class="pagination no-gutters" id="page-ul">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="app-body-html">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th style="width: 51px;">
                <label class="lyear-checkbox checkbox-primary">
                    <input type="checkbox" id="check-all"><span></span>
                </label>
            </th>
            <th>ID</th>
            <th>应用ID</th>
            <th>授权ID</th>
            <th>授权关键</th>
            <th>客户QQ</th>
            <th>到期时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{#
        var status = [
        {title:'封禁',color:'danger'},
        {title:'正常',color:'success'},
        {title:'到期',color:'dark'}
        ];
        }}
        {{# $.each(d, function (index, item){ }}
        <tr>
            <td>
                <label class="lyear-checkbox checkbox-primary">
                    <input type="checkbox" name="id[]" value="{{ item.id }}"><span></span>
                </label>
            </td>
            <th scope="row">{{ item.id }}</th>
            <th scope="row">{{ item.get_app_info.name }}(ID: {{ item.appid }} )</th>
            <td>{{ item.auth_id }}</td>
            <td>{{ item.auth_content }}</td>
            <td>{{ item.qq }}</td>
            <td>{{ item.expire_time ? layui.util.toDateString(item.expire_time * 1000, 'yyyy-MM-dd
                HH:mm:ss') : '永久' }}
            </td>
            <td><span class="label label-{{ status[item.status].color }}">{{ status[item.status].title }}</span></td>
            <td>
                <button class="btn  btn-xs btn-info" data-event="edit"
                        data-json="{{ encodeURIComponent(JSON.stringify(item)) }}">修改
                </button>
                <button class="btn  btn-xs btn-danger" data-event="delete" data-id="{{ item.id }}">删除</button>
                <button class="btn  btn-xs btn-primary" data-event="downloadCompleteFile"
                        data-json="{{ encodeURIComponent(JSON.stringify(item)) }}">完整包
                </button>
                <button class="btn  btn-xs btn-warning" data-event="downloadUpdateFile"
                        data-json="{{ encodeURIComponent(JSON.stringify(item)) }}">更新包
                </button>
            </td>
        </tr>
        {{# }); }}
        {{# if(d.length == 0){ }}
        <tr>
            <td colspan="9" align="center">未获取到相关信息</td>
        </tr>
        {{# } }}
        </tbody>
    </table>
</script>
<script type="text/html" id="auth-edit-html">
    <div class="card-body">
        <form id="editSubmit" onsubmit="return false;">
            <div class="form-group">
                <label>应用</label>
                <div id="edit-app-list">
                    <select class="form-control">
                        <option value="">选择应用</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>授权关键</label>
                <input class="form-control" type="text" name="auth_content" value="{{ d.auth_content }}">
                <small class="help-block">授权关键, 一般为域名、机器码等</small>
            </div>
            <div class="form-group">
                <label>客户QQ</label>
                <input class="form-control" type="text" name="qq" value="{{ d.qq }}">
            </div>
            <div class="form-group">
                <label>到期时间</label>
                <div class="col-md-12 p-l-0">
                    <div class="col-md-10 p-l-0">
                        <input class="form-control js-datetimepicker" type="text" name="expire_time" value="{{ d.expire_time ? layui.util.toDateString(d.expire_time * 1000, 'yyyy-MM-dd
                HH:mm:ss') : 0 }}">
                    </div>
                    <div class="col-md-2 p-l-0">
                        <label class="lyear-checkbox checkbox-primary m-t-10">
                            <input type="checkbox" {{# if(!d.expire_time){ }}checked="" {{# } }}
                                   onclick="if(!$(this).prop('checked')){$('[name=expire_time]').val(layui.util.toDateString((Date.parse(new Date())) + 60 * 60 * 24 * 365 * 1000, 'yyyy-MM-dd HH:mm:ss'));}else{$('[name=expire_time]').val('0')}"><span>永久</span>
                        </label>
                    </div>
                </div>
                <small class="help-block">到期时间为0时代表永久</small>
            </div>
            <div class="form-group">
                <label class="btn-block">状态</label>
                <label class="lyear-switch switch-solid switch-primary">
                    <input type="checkbox" name="status" {{# if(d.status){ }}checked="" {{# } }}>
                    <span></span>
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary m-r-5">确 定</button>
                <input type="hidden" name="id" value="{{ d.id }}">
                <button type="button" class="btn btn-default" data-event="close" data-index="{{ d.layer_index }}">取 消
                </button>
            </div>
        </form>
    </div>
</script>
<script type="text/html" id="auth-create-html">
    <div class="card-body">
        <form id="createSubmit" onsubmit="return false;">
            <div class="form-group">
                <label>应用</label>
                <div id="create-app-list">
                    <select class="form-control">
                        <option value="">选择应用</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label>授权关键</label>
                <input class="form-control" type="text" name="auth_content">
                <small class="help-block">授权关键, 一般为域名、机器码等</small>
            </div>
            <div class="form-group">
                <label>客户QQ</label>
                <input class="form-control" type="text" name="qq">
            </div>
            <div class="form-group">
                <label>到期时间</label>
                <div class="col-md-12 p-l-0">
                    <div class="col-md-10 p-l-0">
                        <input class="form-control js-datetimepicker" type="text" name="expire_time" value="0">
                    </div>
                    <div class="col-md-2 p-l-0">
                        <label class="lyear-checkbox checkbox-primary m-t-10">
                            <input type="checkbox" checked=""
                                   onclick="if(!$(this).prop('checked')){$('[name=expire_time]').val(layui.util.toDateString((Date.parse(new Date())) + 60 * 60 * 24 * 365 * 1000, 'yyyy-MM-dd HH:mm:ss'));}else{$('[name=expire_time]').val('0')}"><span>永久</span>
                        </label>
                    </div>
                </div>
                <small class="help-block">到期时间为0时代表永久</small>
            </div>
            <div class="form-group">
                <label class="btn-block">状态</label>
                <label class="lyear-switch switch-solid switch-primary">
                    <input type="checkbox" name="status" checked="">
                    <span></span>
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary m-r-5">确 定</button>
                <input type="hidden" name="id" value="{{ d.id }}">
                <button type="button" class="btn btn-default" data-event="close" data-index="{{ d.layer_index }}">取 消
                </button>
            </div>
        </form>
    </div>
</script>
<script>
    layui.use(['form', 'laytpl', 'util'], function (form, laytpl, util) {

        // 获取搜索数据
        var __getSoParams = function () {
            return {
                soAppId: $('select#soAppId').val(),
                soAuthId: $('#soAuthId').val(),
                soAuthContent: $('#soAuthContent').val(),
                soQq: $('#soQq').val(),
                soStatus: $('#soStatus').val(),
                page: helper.get('pageNumber'),
            }
        };

        helper.__init(function () {
            // 设置分页数
            helper.set('pageNumber', layui.router().path[1]);
            // 获取授权信息
            var params = helper.loadMsg({
                data: __getSoParams()
            });
            helper.__getAuthList(params, function (res) {
                // 模板渲染
                template('#app-body-html', '#app-body', res.data);
                // 加载分页
                helper.__page('#page-ul', {
                    count: res.count,
                    curr: helper.get('pageNumber'),
                }, function () {
                    helper.__init();
                });
            });
        });

        // 获取应用列表
        helper.__getAppList(function (res) {
            template('#app-list-html', '#app-list', res.data);
        });

        // 事件监听
        util.event('data-event', {
            tableReload: function () {
                window.location.hash = '/page/1';
                helper.set('pageNumber', 1);
                helper.__init();
            },
            edit: function (_this) {
                var data = helper.getJson(_this),
                    WH = helper.getWH();
                helper.popup({
                    title: '授权编辑( ' + data.id + ' )',
                    area: [WH[0] + 'px', WH[1]],
                    id: 'LAY-auth-edit',
                    success: function (layero, index) {
                        data.layer_index = index;
                        // 渲染模板
                        template('#auth-edit-html', '#LAY-auth-edit', data);
                        // 获取应用列表
                        helper.__getAppList(function (res) {
                            res.data.optionId = data.appid;
                            template('#app-list-html', '#edit-app-list', res.data);
                        });
                        // 监听表单提交
                        helper.form('#editSubmit', function (data) {
                            data.status = data.status === 'on' ? 1 : 0;
                            helper.__ajax(authConfig.ajaxEditAuthUrl, helper.loadMsg({
                                type: 'post',
                                data: data,
                                success: function (res) {
                                    if (res.status === 1) {
                                        layer.msg('保存成功', {time: 1000}, function () {
                                            layer.close(index);
                                            helper.__init();
                                        });
                                    } else {
                                        layer.msg(res.info);
                                    }
                                }
                            }));
                        });
                    }
                });
            },
            create: function () {
                var WH = helper.getWH();
                helper.popup({
                    title: '授权添加',
                    area: [WH[0] + 'px', WH[1]],
                    id: 'LAY-auth-create',
                    success: function (layero, index) {
                        // 渲染模板
                        template('#auth-create-html', '#LAY-auth-create', {layer_index: index});
                        // 获取应用列表
                        helper.__getAppList(function (res) {
                            template('#app-list-html', '#create-app-list', res.data);
                        });
                        // 监听表单提交
                        helper.form('#createSubmit', function (data) {
                            data.status = data.status === 'on' ? 1 : 0;
                            helper.__ajax(authConfig.ajaxCreateAuthUrl, helper.loadMsg({
                                type: 'post',
                                data: data,
                                success: function (res) {
                                    if (res.status === 1) {
                                        layer.msg('添加成功', {time: 1000}, function () {
                                            layer.close(index);
                                            helper.__init();
                                        });
                                    } else {
                                        layer.msg(res.info);
                                    }
                                }
                            }));
                        });
                    }
                });
            },
            authStart: function () {
                helper.__editAuthStatus(1);
            },
            authStop: function () {
                helper.__editAuthStatus(0);
            },
            authDelete: function () {
                helper.__deleteAuth();
            },
            delete: function (_this) {
                helper.__deleteAuth([$(_this).data('id')]);
            },
            close: function (_this) {
                layer.close($(_this).data('index'));
            },
            downloadCompleteFile: function (_this) {
                var data = helper.getJson(_this);
                window.location.href = authConfig.ajaxDownloadAuthFileUrl + '?' + $.param({id: data.id});
            },
            downloadUpdateFile: function (_this) {
                var data = helper.getJson(_this);
                window.location.href = authConfig.ajaxDownloadAuthFileUrl + '?' + $.param({
                    id: data.id,
                    type: 'update'
                });
            }
        });
    });
</script>
{/block}