<title>{$site.title} - {$site.name}</title>
<style>
    .click_return {
        margin-left: 5px;
        margin-top: -4px;
    }

    .checkbox-37px .layui-form-checkbox {
        margin-top: 0 !important;
        height: 37px;
        line-height: 37px;
    }

    .checkbox-37px .layui-form-checkbox > i {
        height: 35px;
        line-height: 37px;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card-body" style="padding: 15px;">
        <form class="layui-form" action="" lay-filter="form-auth-create" onsubmit="return false;">
            <div class="layui-card">
                <div class="layui-card-header">
                    添加授权
                </div>
                <div class="layui-card-body layui-row layui-col-space10">
                    <div class="layui-form-item">
                        <label class="layui-form-label">应用ID</label>
                        <script type="text/html" template lay-url="{:url('admin_ajax_get_app')}"
                                lay-done="layui.form.render();">
                            <div class="layui-input-block">
                                <select name="appid">
                                    <option value="">选择应用</option>
                                    {{# layui.each(d.data, function (index, item){ }}
                                    <option value="{{ item.id }}">{{ item.name }}</option>
                                    {{# }); }}
                                </select>
                                <div class="layui-form-mid layui-word-aux"></div>
                            </div>
                        </script>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">授权关键</label>
                        <div class="layui-input-block">
                            <input type="text" name="auth_content" lay-verify="required" autocomplete="off"
                                   class="layui-input" value="">
                            <div class="layui-form-mid layui-word-aux">授权的内容</div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">客户QQ</label>
                        <div class="layui-input-block">
                            <input type="text" name="qq" lay-verify="number" autocomplete="off"
                                   class="layui-input" value="">
                            <div class="layui-form-mid layui-word-aux">客户QQ号</div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">到期时间</label>
                        <div class="layui-input-block">
                            <div class="layui-col-md6" id="expire_time">
                                <input type="text" name="expire_time" lay-verify="required" autocomplete="off"
                                       class="layui-input" value="0">
                                <div class="layui-form-mid layui-word-aux">到期时间为0时代表永不失效</div>
                            </div>
                            <div class="layui-col-md5 checkbox-37px" style="margin-left: 5px;">
                                <input type="checkbox" lay-filter="expire_time_lasting" title="永久" checked>
                                <div class="layui-unselect layui-form-checkbox checkbox-37px">
                                    <span>永久</span>
                                    <i class="layui-icon layui-icon-ok"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-card">

                <div class="layui-card-header">提交</div>
                <div class="layui-card-body layui-row layui-col-space10">
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" lay-filter="form-auth-create-submit">立即提交
                            </button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(['admin', 'form', 'laydate'], function () {
        let $ = layui.$,
            admin = layui.admin,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate,
            expire_time_html = '<input type="text" name="expire_time" lay-verify="required" autocomplete="off" class="layui-input" value="0">';

        form.render(null, 'form-auth-create');

        form.on('checkbox(expire_time_lasting)', function (data) {
            if (data.elem.checked) {
                $('#expire_time>input').remove();
                $('#expire_time').prepend(expire_time_html);
            } else {
                layui.laydate.render({
                    elem: '[name=expire_time]',
                    type: 'datetime',
                    value: layui.util.toDateString((Date.parse(new Date())) + 60 * 60 * 24 * 365 * 1000, 'yyyy-MM-dd HH:mm:ss')
                });
            }
        });

        /* 监听表单提交 */
        form.on('submit(form-auth-create-submit)', function (data) {
            data = data.field;

            var index = layer.load(0, {shade: false});
            $.ajax({
                url: '{:url('admin_ajax_auth_create')}',
                type: 'post',
                dataType: 'json',
                data: data,
            }).done(function (data) {
                layer.close(index);

                if (data.status === 1) {
                    admin.alert.success('添加成功', {}, function (index) {
                        layer.close(index);
                        window.history.go(-1);
                    });
                } else {
                    admin.alert.error(data.info);
                }
            }).fail(function () {
                layer.close(index);
                admin.alert.error('服务器繁忙，请稍后再试！');
            });
        });
    });
</script>